.section.quote{
    display: block;
    .qoute-text{
        padding-left: 1em;
        font-size: 1.5em;
        color: var(--text-light);
        svg{
            color: var(--primary-color);
            font-size: 1.5em;
            margin-right: .5em;
        }
    }
}
